/* Clases Generales */
.my-btn {
  background-color: #fb480c;
}

.my-btn:hover {
  background-color: #f5a88c;
  color: white;
}

.my-btn-doc {
  background-color: #fcbba4;
  color: #ff6833;
}

.my-btn-doc:hover {
  background-color: #fdd0c0;
  color: #ff6833;
}

ul {
  list-style-type: none;
}

/* Nav */
#mynav {
  background-color: white;
}
/* Section 1 */
.imgPrincipal {
  animation: myanimation 0.5s ease-in-out 3;
}
@keyframes myanimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#btnNew {
  font-size: 0.8rem;
}
#pNew {
  width: 55%;
  font-size: 0.8rem;
}
#sec1 {
  background-color: white;
  position: relative;
}
#sec1::after {
  content: "";
  background-image: url(./img/curveGray.svg);
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Section 2 */
#sec2 {
  background-color: #f5f5f5;
  position: relative;
}
#sec2::after {
  content: "";
  background-image: url(./img/curveWhite.svg);
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.img-art {
  width: 100px;
  height: 100px;
}
.salto {
  transition: all 0.5s ease-in-out;
}
.salto:hover {
  transform: translateY(-10px);
}

/* Section 3 */
.img-cards {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.img-persons {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 100%;
}
label {
  font-size: 0.8rem;
}

/* Section 4 */
#sec4 {
  background-color: white;
  z-index: 50;
  position: relative;
}
#sec4::before {
  content: "";
  background-image: url(./img/curveBlack.svg);
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}
/* FOOTER */
footer {
  background-color: black;
}

/* section 5 BUY */
.dollar {
  font-size: 2rem;
}

*{
  font-family: "Fraunces", serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.number {
  font-size: 5rem;
}

.month {
  font-size: 2rem;
}


.standard-col {
  position: relative;
  transform: scale(1.1);
  background-color: #fff;
}

@media (max-width: 991px) {
  .standard-col {
    transform: scale(1);
    margin-top: 20px;
    margin-bottom: 20px;
  }
} 

.std-pill {
  background-color: #dae7fb;
  color: #4774f3;
  font-weight: 700;
}

.premium-pill {
  background-color: #e4ddf7;
  color: #6f0ec9;
  font-weight: 00;
}

.disable-icon {
  color: #ccc;
}

.disable-letter {
  color: #777777;
}

.tick-icon {
  color: #00ce72;
}
